body
{
    margin: 0;
    font-family: Arial, sans-serif;
}

#navagation-bar
{
    margin:0;
    background-color: black;
    color: white;
    padding: 0.1% 8%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

#navagation-bar ul
{

}

#navagation-bar li
{
    color: rgb(124, 124, 124);
    text-decoration: none;
    list-style-type: none;
    display:inline;
}

#navagation-bar a
{
    color: rgb(124, 124, 124);
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    width:fit-content;
    padding: 0 6px;
    margin: 0 4px;
}

#navagation-bar a:hover
{
    color: white;
}

/* #navagation-bar li:last-child
{
    border-right:none;
    float:right;
} */

#search-box
{
    float:inline-end;
}

#subject
{
    background-image: url('img/IMG-0909.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(137, 200, 0);
    height:auto;
    padding:5%;
    text-align: center;
    color: rgb(74, 42, 0);
    display:block;

}

#name
{
    font-size: 400%;
}

#subjectline
{
    font-size: 125%;
}

#engage-now
{
    font-size: 90%;
    margin: 10px;
    padding: 10px 15px;
    background-color:rgb(89, 122, 255);
    color:white;
    border-radius: 5px;
    border-color: rgb(58, 79, 162);
    text-decoration: none;
    text-shadow: none;
}

#engage-now:hover
{
    background-color: rgb(58, 79, 162);
}

#pictures
{
    text-align: center;
    margin: 5%;
    padding: 0 3%;
    color: grey;
    object-fit:contain;
    justify-content: center;
    height: auto;
}

.h2-imitation
{
    font-size: 200%;
    color: black;
}

.h4-imitation
{
    font-size: 130%;
    color: rgb(90, 89, 89);
}

.container
{
    display: flex;
}


.picture-elements {
    flex: 1;
    margin: 10px;
    padding: 10px;
    /* border: 2px solid #ccc; */
    size: 30%;
}

.picture-elements img{
    height: auto;
    width: 100%;
    size: 30%;
    object-fit: contain;
    border-radius: 7px;
    padding: 1% 0;
}

.pic-titles
{
    font-size: 150%;
}

#icon-section
{
    display: flex;
    background-color: rgb(226, 165, 61);
    text-align: center;
    /* vertical-align: middle; */
    object-fit:scale-down;
    justify-content:center;
    padding: 5% 10%;
}


.icons
{
    flex: 1;
    margin: 1%;
    padding: 0 2%;
    height: fit-content;
}

.icons p
{
    font-size: 15px;
}

.icon-button
{
    font-size: 90%;
    margin-top: 15%;
    padding: 10px 15px;
    background-color:white;
    color:black;
    border-radius: 5px;
    border-color: rgb(58, 79, 162);
    text-decoration: none;
    text-shadow: none;
}

#bottom
{
    text-align: center;    
    padding: 2%;
    align-content: center;
}

a#bottom:link
{
    text-decoration: none;
    color: rgb(0, 115, 255);
}

a#bottom:hover
{
    text-decoration: underline;
    color: rgb(0, 55, 123);
}

.clearfix {
    overflow: auto;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
